@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Karla:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 30px;
  background: rgb(233, 232, 232);
  color: white;
}
.left-navbar {
  display: flex;
}
.logo {
  padding: 0 10px;
  font-size: 40px;
  font-family: "Comforter Brush", cursive;
}
.left-navbar ul {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.left-navbar ul li {
  padding: 0 10px;
}
.right-navbar {
  display: flex;
  align-items: center;
}
.right-navbar li {
  padding: 10px;
}
