@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.navbar {
  padding: 0 50px;
  height: 10vh;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo a {
  font-size: 50px;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

.navbar ul {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul li {
  padding: 50px 0;
  cursor: pointer;
}

.navbar ul li a {
  font-weight: bold;
  font-size: 25px;
  padding: 0 25px;
  color: black;
}

.navbar ul li:hover {
  background: #0cd00c;
}

.content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  display: inline-block;
  position: relative;
  width: 24.87%;
  height: 50vh;
  background: grey;
}

img {
  height: 50vh;
  width: 100%;
  -webkit-transition: all linear 0.7s;
  transition: all linear 0.7s;
}

img.thumb {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

h3 {
  display: none;
  left: 38%;
  top: 45%;
  position: absolute;
  color: black;
}

.product:hover img {
  opacity: 0;
}

.product:hover img.thumb {
  opacity: 1;
}

.product:hover h3 {
  font-size: 50px;
  display: block;
}

@media (max-width: 1679px) {
  .product {
    width: 33.1%;
  }
}

@media (max-width: 1050px) {
  .product {
    width: 49.5%;
  }
  li {
    display: none;
  }
  .navbar .logo a {
    font-size: 30px;
    float: left;
  }
}

@media (max-width: 375px) {
  .product {
    width: 100%;
  }
  .navbar .logo a {
    font-size: 17px;
    float: left;
  }
}
/*# sourceMappingURL=main.css.map */