@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.navbar {
  padding: 0 50px;
  height: 10vh;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    a {
      font-size: 50px;
      color: black;
      font-family: "Courier New", Courier, monospace;
    }
  }
  ul {
    color: black;
    display: flex;
    justify-content: space-between;
    li {
      padding: 50px 0;
      cursor: pointer;

      a {
        font-weight: bold;
        font-size: 25px;
        padding: 0 25px;
        color: black;
      }
    }
    li:hover {
      background: rgb(12, 208, 12);
    }
  }
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.product {
  display: inline-block;
  position: relative;
  width: 24.87%;
  height: 50vh;
  background: grey;
}
img {
  height: 50vh;
  width: 100%;
  transition: all linear 0.7s;
}
img.thumb {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
h3 {
  display: none;
  left: 38%;
  top: 45%;
  position: absolute;
  color: black;
}

.product:hover img {
  opacity: 0;
}
.product:hover img.thumb {
  opacity: 1;
}
.product:hover h3 {
  font-size: 50px;
  display: block;
}
@media (max-width: 1679px) {
  .product {
    width: 33.1%;
  }
}
@media (max-width: 1050px) {
  .product {
    width: 49.5%;
  }
  li {
    display: none;
  }
  .navbar {
    .logo {
      a {
        font-size: 30px;
        float: left;
      }
    }
  }
}
@media (max-width: 375px) {
  .product {
    width: 100%;
  }
  .navbar {
    .logo {
      a {
        font-size: 17px;
        float: left;
      }
    }
  }
}
